<% @posts.each do |post| %>
  <div class="row m-2 border-bottom">
    
    <div class="col-3 mb-2 pl-0">

      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image, size:'180x130' %>
      <% end %>

      <div>
        <%= render 'public/posts/star', post: post %>
      </div>

    </div>

    <div class="col-9 d-flex flex-column">

      <div class="my-2">
        <%= link_to post.title, post_path(post) %>
      </div>

      <div class="flex-grow-1">
        <%= truncate(post.body, length: 50) %> <!-- 50文字まで表示するメソッド -->
      </div>

      <div class="d-flex justify-content-end">
        <span class="mr-3">投稿者:<%= link_to post.user.name, user_path(post.user) %></span>
        <span class="mr-3"><%= post.created_at.strftime('%Y-%m-%d') %></span>
        <span class="mr-3">コメント数</span>
        <span>いいね</span>
      </div>

    </div>
    
  </div>
<% end %>