<div class="container">
  <div class="row">

  <div class="col-2 border min-vh-100">
    <%= render 'layouts/categories' %>
  </div>

  <div class="col-8 d-flex flex-column">

    <div class="d-flex justify-content-center mt-5">
      <%= image_tag @post.get_image, size:'500x350' %>
    </div>

    <div class="pt-4 d-flex justify-content-center">
      <div class="w-100">
        <table class="table table-borderless">
          
          <tr>
            <th class="col-3">投稿者:<%= link_to @post.user.name, user_path(@post.user) %></th>
            <th class="col-5"><%= @post.title %></th>
            <th class="col-2"><%= link_to @post.category.name, posts_path(category_id: @post.category.id) %></th>
            <th id="like_btn_<%= @post.id %>" class="col-2"><%= render 'public/likes/btn', post: @post %></th>
          </tr>
          
          <tr>
            <th><%= render 'public/posts/star', post: @post %></th>
            <th><%= l(@post.created_at, format: :default) %></th>
            <th></th>
            <th>
              <% if @post.user == current_user || admin_signed_in? %>
              <!--投稿したユーザーまたは管理者のみに表示-->
                <%= link_to '編集する', edit_post_path(@post), class: "btn btn-secondary" %>
              <% end %>
            </th>
          </tr>
          
        </table>
      </div>
    </div>

    <div class="mt-3 pb-4 border-bottom thick-border">
      <h5 class="pb-2">Review</h5>
      <%= @post.body %>
    </div>

    <div id="post_comment" class="mt-3">
      <%= render 'public/post_comments/comment', post: @post %>
    </div>

    <div id="comment_form" class="my-3">
      <% if user_signed_in? && !current_user.guest_user? %>
      <!--ログインユーザーかつゲストでない場合に表示（コメントフォーム）-->
        <%= render 'public/post_comments/form', post: @post %>
      <% end %>
    </div>

  <div>

  </div>
</div>
