<div class="container">
  
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h4>検索結果</h4>
    </div>
  </div>
  
  <% if @range == "User" %>
    
    <div class="row d-flex justify-content-center min-vh-100">
      <div class="col-9 px-0 min-vh-100">
        
        <% if @users.any? %>
          <table class="table table-striped border-bottom">
            <% @users.each do |user| %>
              <tr>
                <td class="py-1">
                  <div class="d-flex align-items-center">
          
                    <div>
                      <%= image_tag user.get_image, class: "rounded-circle", size: "50x50" %>
                    </div>
          
                    <div class="col-2 pr-0">
                      <span><%= link_to user.name, user_path(user) %></span>
                    </div>
                    
                    <div class="ml-3">
                      <%= truncate(user.introduction, length: 30) %>
                    </div>
                    
                    <div class="ml-auto">
                      <%= link_to '編集する', edit_admin_user_path(user), class: 'btn btn-sm btn-outline-secondary' %>
                    </div>

                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <h5 class="pt-5 text-center">該当するユーザーが見つかりませんでした。</h5>
        <% end %>
      </div>
    </div>
      
  <% elsif @range == "Post" %>
  
    <% if @posts.any? %>
      <%= render 'public/posts/sort' %>
      <div id="posts-list">
        <%= render 'public/posts/index' %>
      </div>    
    <% else %>
      <h5 class="pt-5 text-center">該当する投稿が見つかりませんでした。</h5>
    <% end %>
    
  <% elsif @range == "PostComment" %>
  
    <% if @post_comments.any? %>
      <%= render 'admin/post_comments/index' %>
    <% else %>
      <h5 class="pt-5 text-center">該当するコメントが見つかりませんでした。</h5>
    <% end %>
    
  <% end %>
</div>