<div class="container">

  <div class="mt-2">
    <h3>会員一覧</h3>
  </div>

  <table class="table table-striped border-bottom">

    <thead>
      <tr>
        <th>ID</th>
        <th></th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>登録日</th>
        <th>ステータス</th>
        <th>アクション</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="align-middle"><%= user.id %></td>
          <td class="align-middle py-1"><%= image_tag user.get_image, class: "rounded-circle", size: "50x50" %></td>
          <td class="align-middle"><%= link_to user.name, user_path(user) %></td>
          <td class="align-middle"><%= user.email %></td>
          <td class="align-middle"><%= user.created_at.strftime('%Y-%m-%d') %></td>
          <td class="align-middle">
            <% if user.is_active %>
              <p class="mb-0 text-black">有効</p>
            <% else %>
              <p class="mb-0 text-danger">退会済み</p>
            <% end %>
          </td>
          <td class="align-middle">
            <%= link_to '編集する', edit_admin_user_path(user), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
  
  <div class="d-flex justify-content-center my-4">
    <%= paginate @users %>
  </div>

</div>