<table class="table table-striped border-bottom">
  <% users.each do |user| %>

    <tr>
      <td class="py-1">

        <div class="d-flex align-items-center">

          <div>
            <%= image_tag user.get_image, class: "rounded-circle", size: "50x50" %>
          </div>

          <div class="col-2 pr-0">
            <%= link_to user_path(user) do %>
              <span><%= user.name %></span>
            <% end %>
          </div>
          
          <div class="ml-3">
            <%= truncate(user.introduction, length: 30) %>
          </div>

          <div class="ml-auto">
            <% if current_user %>
              <% unless user.guest_user? || current_user.guest_user? %>
                <% if current_user == user %>
                <!--自分にはフォロー/フォロー解除ボタンが表示されない-->
                <% else %>
                  <div id="relationships_btn2_<%= user.id %>">
                    <%= render 'public/relationships/btn2', user: user %>
                  </div>
                <% end %>
            <% else %>
              <!--ログインしていない時は空白-->
              <% end %>
            <% end %>
          </div>

        </div>

      </td>
    </tr>

    <% end %>
</table>