<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #000">
    <div class="container">
      
      <a class="navbar-brand py-0" href="/">
        <%= image_tag 'Logo.png', alt: 'GamersGear', size: "200x55" %>
      </a>
      
      <div class="mx-auto">
        <%= render 'layouts/search' %>
      </div>
      
      <div class="ml-auto">
        <div class="links">

          <ul class="navbar-nav">

            <% if user_signed_in? %>
              <!--ユーザーでログインしている時-->
              <li class="nav-item">
                <%= link_to user_path(current_user), class: 'nav-link text-white' do %>
                  マイページへ
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_post_path, class: 'nav-link text-white' do %>
                  投稿する
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to destroy_user_session_path, class: 'nav-link text-white', method: :delete do %>
                  ログアウト
                <% end %>
              </li>

            <% elsif admin_signed_in? %>
              <!--管理者でログインしている時-->
              <li class="nav-item">
                <%= link_to admin_root_path, class: 'nav-link text-white' do %>
                  会員一覧
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to admin_posts_path, class: 'nav-link text-white' do %>
                  投稿一覧
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to admin_categories_path, class: 'nav-link text-white' do %>
                  カテゴリ一覧
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to destroy_admin_session_path, class: 'nav-link text-white', method: :delete do %>
                  ログアウト
                <% end %>
              </li>

            <% else %>
              <!--ログインしていない時-->
              <li class="nav-item">
                <%= link_to about_path, class: 'nav-link text-white' do %>
                  このサイトについて
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'nav-link text-white' do %>
                  新規会員登録
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
                  ログインする
                <% end %>
              </li>

            <% end %>
          </ul>
        </div>

      </div>
    </div>
  </nav>
</header>