<% if user_signed_in? || admin_signed_in? %>
  <div class="ml-4">
    <% if user_signed_in? %>
      <%= form_with url: search_path, local: true, method: :get, class: 'form-inline mr-2' do |f| %>
        <%= f.select :range, options_for_select([['ユーザー', 'User'], ['レビュー', 'Post']]), class: 'form-control ml-2' %>
        <%= f.text_field :word, placeholder: "キーワードを入力", class: 'form-control ml-2' %>
        <%= f.submit "検索", class: "btn btn-secondary" %>
      <% end %>
    <% elsif admin_signed_in? %>
      <%= form_with url: admin_search_path, local: true, method: :get, class: 'form-inline mr-2' do |f| %>
        <%= f.select :range, options_for_select([['ユーザー', 'User'], ['レビュー', 'Post']]), class: 'form-control ml-2' %>
        <%= f.text_field :word, placeholder: "キーワードを入力", class: 'form-control ml-2' %>
        <%= f.submit "検索", class: "btn btn-secondary" %>
      <% end %>
    <% end %>
  </div>
<% end %>